body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

.container {
    background: white;
    width: 50%;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: black;
}

.role {
    font-size: 18px;
    color: black;
}
